<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Refund</title>
</head>
<body>
    <img src={{logo}} alt="inspiredbuthellatired">

    <h1>Your Order Has Been Canceled and Refunded</h1>

    <p>We're sorry you had to cancel, but we hope to hear from you again soon!</p>

    <p>- inspiredbuthellatired</p>
</body>
</html>